
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.navbar {
  list-style-type: none;
  color: black;
  margin: 12px;
  font-size: 30px;
  font-weight: 750;
  text-align: center;
}

